<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>借还日志</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <script th:src="@{/js/jquery-3.2.1.js}" src="../static/js/jquery-3.2.1.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('#header').load('admin_header.html');
        })
    </script>
</head>
<body th:background="@{/img/u5.jpeg}" style=" background-repeat:no-repeat ;
background-size:100% 100%;
background-attachment: fixed;">
<div id="header"></div>

<div style="position: relative;padding-top: 100px">
    <div th:if="${succ} ne null">
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">
                &times;
            </button>
                <span th:text="${succ}"></span>
        </div>
    </div>
    <div th:if="${error} ne null">
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">
                &times;
            </button>
                <span th:text="${error}"></span>
        </div>
    </div>
</div>
<div class="panel panel-default" style="width: 90%;margin-left: 5%">
    <div class="panel-heading">
        <h3 class="panel-title">
            借还日志
        </h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>流水号</th>
                <th>图书号</th>
                <th>读者证号</th>
                <th>借出日期</th>
                <th>归还日期</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="alog:${list}">
                    <td th:text="${alog.ser_num}"></td>
                    <td th:text="${alog.bookId}"></td>
                    <td th:text="${alog.readerId}"></td>
                    <td th:text="${alog.lendDateStr}"></td>
                    <td th:text="${alog.backDateStr}"></td>
                    <td>
                        <a th:href="@{'/deletelend.html?serNum='+${alog.ser_num}}">
                            <div th:if="${alog.backDateStr} ne null">
                                <button type="button" class="btn btn-danger btn-xs">删除</button>
                            </div>
                            <div th:if="${alog.backDateStr} eq null">
                                <button type="button" class="btn btn-default btn-xs" disabled="disabled">删除</button>
                            </div>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
