<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="${detail.name}">《 ${detail.name}》</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <script th:src="@{/js/jquery-3.2.1.js}" src="../static/js/jquery-3.2.1.js"></script>
    <script  th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('#header').load('admin_header.html');
        })
    </script>
</head>
<body background="../../static/img/book2.jpg" style=" background-repeat:no-repeat ;
background-size:100% 100%;
background-attachment: fixed;">
<div id="header" style="padding-bottom: 80px"></div>

<div class="col-xs-6 col-md-offset-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="${detail.name}">《 ${detail.name}》</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th width="15%">书名</th>
                    <td th:text="${detail.name}">${detail.name}</td>
                </tr>
                <tr>
                    <th>作者</th>
                    <td th:text="${detail.author}">${detail.author}</td>
                </tr>
                <tr>
                    <th>出版社</th>
                    <td th:text="${detail.publish}">${detail.publish}</td>
                </tr>
                <tr>
                    <th>ISBN</th>
                    <td th:text="${detail.isbn}">${detail.isbn}</td>
                </tr>
                <tr>
                    <th>简介</th>
                    <td th:text="${detail.introduction}">${detail.introduction}</td>
                </tr>
                <tr>
                    <th>语言</th>
                    <td th:text="${detail.language}">${detail.language}</td>
                </tr>
                <tr>
                    <th>价格</th>
                    <td th:text="${detail.price}">${detail.price}</td>
                </tr>
                <tr>
                    <th>出版日期</th>
                    <td th:text="${detail.pubdate}">${detail.pubdate}</td>
                </tr>
                <tr>
                    <th>分类号</th>
                    <td th:text="${detail.classId}">${detail.classId}</td>
                </tr>
                <tr>
                    <th>数量</th>
                    <td th:text="${detail.number}">${detail.number}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</body>
</html>
